# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Environments
venv/
env/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Project Specific
temp_capture_stream.wav
/pic/

# Local secrets
/configs/GeminiAPIKey.txt
